rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId}/{collection}/{document} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /archives/{archive} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /telegramUsers/{docId} {
      allow list: if request.auth != null;
      allow get: if request.auth != null && request.auth.token.email == resource.data.email;
      allow update: if request.auth != null && request.auth.token.email == resource.data.email;
    }
  }
}
